<script>

    $('.fans .switch').css( "bottom", "70px" );
    $('.setting .switch').css( "bottom", "70px" );

    // $('#toggleFanMenu').click(function() {
    //     // $('.fans .switch').css( "display", "block" );
    //     // $scope.toggleFanMenu();
    // });

</script>

<div class="container-fluid">

    <div class="row menu">

        <div class="logo tab">
            <a href="#"><img src="_img/authero-logo.png" /></a>
        </div>

        <div class="tabs">
            <div class="tab highlight col-xs-5">
                <a href="#">Home</a>
            </div>

            <div class="tab col-xs-5">
                <a href="#/schedule">Schedule</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="row main">
        <div class="temp col-xs-12">
            <div class="degree">{{ targetTemp }}<span>&deg;</span></div>
            <div id="temp_controls">
                <div class="down" ng-click="tempDown()"><img class="flip" src="_img/temp-down.png" /></div>
                <div class="up" ng-click="tempUp()"><img src="_img/temp-up.png" /></div>
            </div>

            <div class="bar">
                <div class="fans col-xs-5 ">
                    <div class="switch">
                        <ul>
                            <li><a href="" ng-click="setFanState('ON')">ON</a></li>
                            <li><a href="" ng-click="setFanState('OFF')">OFF</a></li>
                            <li><a href="" ng-click="setFanState('AUTO')">AUTO</a></li>
                        </ul>
                    </div>
                    <div ng-switch="fanState">
                        <div ng-click="toggleFanMenu()">
                            <div ng-switch-when="ON"><a href=""><strong>FAN:</strong> ON</a></div>
                            <div ng-switch-when="OFF"><a href=""><strong>FAN:</strong> OFF</a></div>
                            <div ng-switch-when="AUTO"><a href=""><strong>FAN:</strong> AUTO</a></div>
                            <div ng-switch-default>error</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="setting col-xs-5">
                    <div class="switch">
                        <ul>
                            <li><a href="" ng-click="setTempMode('HEAT')">HEAT</a></li>
                            <li><a href="" ng-click="setTempMode('COOL')">COOL</a></li>
                            <li><a href="" ng-click="setTempMode('AUTO')">AUTO</a></li>
                            <li><a href="" ng-click="setTempMode('OFF')">OFF</a></li>
                        </ul>
                    </div>
                    <div ng-switch="tempMode">
                        <div ng-click="toggleTempMenu()">
                            <div ng-switch-when="HEAT"><a href=""><strong>MODE:</strong> HEAT</a></div>
                            <div ng-switch-when="COOL"><a href=""><strong>MODE:</strong> COOL</a></div>
                            <div ng-switch-when="AUTO"><a href=""><strong>MODE:</strong> AUTO</a></div>
                            <div ng-switch-when="OFF"><a href=""><strong>MODE:</strong> OFF</a></div>
                            <div ng-switch-default>error</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="clear"></div>
        

        <div class="rooms col-xs-12 ">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Room ID #</th>
                        <th>Temp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(room, temp) in currentTemps track by $index">
                        <td ng-switch on="room">
                            <span ng-switch-when="1">Nick's Room</span>
                            <span ng-switch-when="2">Trevor's Room</span>
                            <span ng-switch-when="average">Average</span>
                        </td>
                        <!-- <td>{{room}}</td> -->
                        <td>{{temp}}</td>
                    </tr>
                </tbody>
            </table>


        </div>

        
    </div>

</div>

<div class="clear"></div>
