
<div class="container-fluid">

    <div class="row menu">

        <div class="logo tab">
            <a href="#/home"><img src="_img/authero-logo.png" /></a>
        </div>

        <div class="tabs">
            <div class="tab col-xs-5">
                <a href="#/home">Home</a>
            </div>

            <div class="tab highlight col-xs-5">
                <a href="#/schedule">Schedule</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="row main">
        <div class="temp col-xs-12">
            <div class="degree">{{ targetTemp }}<span>&deg;</span></div>
            <div id="temp_controls">
                <div class="down" ng-click="tempDown()"><img class="flip" src="_img/temp-down.png" /></div>
                <div class="up" ng-click="tempUp()"><img src="_img/temp-up.png" /></div>
            </div>


            <div class="bar">
                <div class="fans col-xs-5 ">
                    <div class="switch">
                        <ul>
                            <li><a href="" ng-click="setFanState('ON')">ON</a></li>
                            <li><a href="" ng-click="setFanState('OFF')">OFF</a></li>
                            <li><a href="" ng-click="setFanState('AUTO')">AUTO</a></li>
                        </ul>
                    </div>
                    <div ng-switch="fanState">
                        <div ng-click="toggleFanMenu()">
                            <div ng-switch-when="ON"><a href=""><strong>FAN:</strong> ON</a></div>
                            <div ng-switch-when="OFF"><a href=""><strong>FAN:</strong> OFF</a></div>
                            <div ng-switch-when="AUTO"><a href=""><strong>FAN:</strong> AUTO</a></div>
                            <div ng-switch-default>error</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="setting col-xs-5">
                    <div class="switch">
                        <ul>
                            <li><a href="" ng-click="setTempMode('HEAT')">HEAT</a></li>
                            <li><a href="" ng-click="setTempMode('COOL')">COOL</a></li>
                            <li><a href="" ng-click="setTempMode('AUTO')">AUTO</a></li>
                            <li><a href="" ng-click="setTempMode('OFF')">OFF</a></li>
                        </ul>
                    </div>
                    <div ng-switch="tempMode">
                        <div ng-click="toggleTempMenu()">
                            <div ng-switch-when="HEAT"><a href=""><strong>MODE:</strong> HEAT</a></div>
                            <div ng-switch-when="COOL"><a href=""><strong>MODE:</strong> COOL</a></div>
                            <div ng-switch-when="AUTO"><a href=""><strong>MODE:</strong> AUTO</a></div>
                            <div ng-switch-when="OFF"><a href=""><strong>MODE:</strong> OFF</a></div>
                            <div ng-switch-default>error</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="clear"></div>
        

        <div class="rooms col-xs-12 ">
            
            <div id="schedule">
                <table id="days">
                    <tr>
                        <td><a href="" ng-click="drawTempGraph('1')" onclick="javascript: highlight_day(this)">Su</a></td>
                        <td><a href="" ng-click="drawTempGraph('2')" onclick="javascript: highlight_day(this)">M</a></td>
                        <td><a href="" ng-click="drawTempGraph('3')" onclick="javascript: highlight_day(this)">Tu</a></td>
                        <td><a href="" ng-click="drawTempGraph('4')" onclick="javascript: highlight_day(this)">W</a></td>
                        <td><a href="" ng-click="drawTempGraph('5')" onclick="javascript: highlight_day(this)" class="highlight">Th</a></td>
                        <td><a href="" ng-click="drawTempGraph('6')" onclick="javascript: highlight_day(this)">F</a></td>
                        <td><a href="" ng-click="drawTempGraph('7')" onclick="javascript: highlight_day(this)">Sa</a></td>
                    </tr>
                </table>
                
                <div id="graph_loading" style="color: #000; ">Graph data is loading...</div>
                <canvas id="myChart" style="width: 100%; height: 10px;" ></canvas>

                <table id="rows" ng-repeat="row in schedules track by $index">
                    <thead>
                        <tr class="heading">
                            <td colspan="3">{{row.name}} Schedule <a href="" ng-click="selectSchedule('row.name')">Select</a></td>
                        </tr>
                        <tr>
                            <td>Day</td>
                            <td>Time</td>
                            <td>Temp</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="point in row.events track by $index">
                            <td ng-switch on="point.day">
                                <span ng-switch-when="0">Sunday</span>
                                <span ng-switch-when="1">Monday</span>
                                <span ng-switch-when="2">Tuesday</span>
                                <span ng-switch-when="3">Wednesday</span>
                                <span ng-switch-when="4">Thursday</span>
                                <span ng-switch-when="5">Friday</span>
                                <span ng-switch-when="6">Saturday</span>
                                <span ng-switch-default>error</span>
                            </td>
                            <td>{{point.time}}</td>
                            <td>{{point.temp}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

<div class="clear"></div>

<script>

    var ctx = document.getElementById("myChart").getContext("2d");

    var highlight_day = function(ele) {
        $('td > a.highlight').removeClass('highlight');
        ele.className = "highlight";
    }
        
</script>
