@viewport { width: device-width; }

@-ms-viewport { width: device-width; }

html, body { font-size: 14px; height: 100%; }
.clear { float: none; display: block; clear: both; }
.container-fluid { padding: 0; width: 100%; margin: 0 auto; }
.row { max-width: 1000px; width: 100%; margin: 0 auto; }
a:hover { text-decoration: none; }
.clear { display: block; clear: both; }

#wrap {
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    background-size: cover;
    position: relative;
    font-family: 'Roboto', arial, sans-serif;
}

.fade-background {
    background-color: rgba(42,54,59, 0.9);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    color: #fff;
}

.logo, .tab { line-height: 40px; }

.logo {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    font-size: 2.2em !important;
    font-weight: 300;
}
.logo img {
    height: 40px;
    width: auto;
    margin-right: 12px;
    margin-left: 10px;
    position: relative;
    top: -5px;
    }

.menu {
    background-color: #222;
    padding: 15px 0 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    z-index: 5;
    position: relative;
}

.tabs { width: auto; display: inline-block; float: right; }

.tab {
    font-size: 1.8em;
    text-align: center;
    width: auto;
    margin: 0px 0 0;
    font-weight: 300;
    position: relative;
}

.tab a { display: block; height: 100%; padding: 5px 5px; color: #fff; }

.tab.highlight a { border-bottom: 1px solid #999; }

.temp {
    text-align: center;
    position: relative;
    padding: 0 0 10px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4); 
}

.temp .degree {
    width: 90%;
    display: inline-block;
    text-align: center;
    font-size: 10em;
    line-height: 120%;
    color: #fff;
    font-family: 'Montserrat', arial, sans-serif;
}

.temp .degree span {
    font-size: 6rem;
    vertical-align: top;
    position: absolute;
    color: rgba(255,255,255,0.5);
    display: none;
}

.temp .up, .temp .down {
    display: inline-block;
    width: 20%;
    position: relative;
    top: -10px;
    padding-bottom: 0px;
}
.temp .up { margin-left: 1%; }
.temp .down { margin-right: 1%; }

.temp .up:hover, .temp .down:hover { pointer: pointer; }
.temp .up:active, .temp .down:active  { border: 5px solid transparent; }

.temp img { width: 75%; }

.rooms { margin-top: 10px; padding: 15px 30px; border-radius: 15px; }
.rooms table, #schedule table { margin: 0; color: #222; font-size: 1.2em; margin-top: 10px; }
.rooms table tr:nth-child(even) { background-color: rgba(0,0,0,0.05); }
.rooms table th { font-size: 1.2em; background-color: #333; color: #fff; }
.rooms table:not(#days) td, .rooms table:not(#days) th { padding-left: 20px !important; padding-right: 20px !important; }

.fans, .setting {
    width: 50%;
    margin: 0px 0 0;
    height: auto;
    border-radius: 15px;
    position: relative;
}

.fans a, .setting a {
    color: #222;
    display: block;
    text-align: center;
    font-size: 1.4em;
    padding: 20px 0;
}
.fans a strong, .setting a strong {
    margin-right: 10px;
}

.fans .switch, .setting .switch {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    left: 0;
    z-index: 99;
    bottom: 70px;
}
.fans .switch ul, .setting .switch ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
.fans .switch ul a, .setting .switch ul a {
    color: #333;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

#schedule {
    display: block;
    text-align: center;
    position: relative;
    margin: 0;
    color: #fff;
    padding: 10px 0;
}

h1 {
    color: #000;
    font-weight: 400;
    padding: 25px 0;
    font-size: 1.7rem;
    font-family: 'Montserrat', 'Roboto', arial, sans-serif;
    margin: 0;
}

#schedule table {
    width: 100%;
    position: relative;
}

#schedule table#days {
    margin-bottom: 15px;
}

#schedule table#days a {
    text-decoration: none;
    color: #2A363B;
    font-size: 1.8rem;
    padding: 10px 10px !important;
    display: inline-block;
}

#schedule table#days a.highlight {
    background-color: #2A363B;
    color: #fff;
    position: relative;
}

#schedule table#days a.highlight::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2A363B;
    margin-left: -10px;
}

#schedule table#rows {
    margin-top: 25px;
    padding: 0 10px;
}

#schedule table#rows thead td {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

#schedule table#rows thead tr.heading td { text-align: left; background-color: #333; padding: 5px 0; font-size: 1.2em; color: #fff; }
#schedule table#rows thead tr.heading td a { float: right; background-color: #689ba8; color: #fff; font-size: 0.8em; position: relative; top: 1px; padding: 2px 8px; font-style: italic; border-radius: 5px; }

#schedule table#rows td {
    padding: 0px;
    color: #222;
}
#schedule table#rows tr:nth-child(even) { background-color: rgba(0,0,0,0.05); }

#myChart { margin-bottom: 15px; }

.flip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv;
}

#login {
    width: 85%;
    margin: 30px auto 0;
}

#login h1 {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 50px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

#login input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1.1em;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#login input[type="text"], #login input[type="password"], button {
    border-radius: 10px;
    border: 1px solid #ddd;
}

#login button {
    display: block;
    width: 60%;
    padding: 15px;
    font-size: 1.2em;
    margin: 0 auto;
    background-color: #2A363B;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

@media (min-width: 600px) {
    .rooms { float: right; width: 60%; margin-left: 3%; margin-right: 0; padding-right: 5%; }
    .temp { width: 37%; color: #333 !important; }
    .tab { width: 47%; }
    .tab:first-child { margin-right: 6%; }
    .menu { display: block; background-color: #333; border-bottom: 5px solid tomato; padding: 10px 0 7px; }
    .menu .tab { width: auto; line-height: 40px; }
    .menu .tab, .menu .tab.highlight { background-color: transparent !important; box-shadow: none; }
    .menu .tab a, .menu .tab.highlight a { color: #fff; font-weight: 300; padding: 5px 10px; }
    .tabs { float: right; margin: 0; }
    .tab:first-child { margin-right: 0; }
    .logo { display: inline-block; float: left; margin-left: 15px; position: relative; font-size: 1.75em; }
    .menu .logo a { font-weight: 700; }
    .menu .logo a:hover { background-color: #333; color: #fff !important; }
    .logo img { height: 30px; width: auto; margin-right: 15px; position: relative; top: -2px; }
    .tab.highlight:after { display: none; }
    .tab a:hover { background-color: #fff; color: #333 !important; }
    #wrap { padding: 60px 0; }
    .main { position: relative; background-color: #eee; box-shadow: 2px 2px 10px rgba(0,0,0,0.4);  padding-bottom: 25px; }
    .fade-background { background-color: transparent; box-shadow: none; color: #333 !important; }
    .rooms table { color: #333; font-size: 1.2em; }
    .rooms table td, .rooms table th { padding: 12px !important; }
    #schedule table tr td { padding: 5px !important; }
    .fans { clear: left; margin-right: 5%; margin-left: 10%; }
    .fans, .setting { width: 40%; background-color: rgba(0,0,0,0.2); margin-top: 10px; }
    .fans a, .setting a { font-size: 1.2em; }
    .clear { display: none !important; clear: none !important; }
    #wrap { background-image: url('http://www.hdwallpapersinn.com/wp-content/uploads/2014/08/wonderful-wallpapers-91.jpg'); }
    .temp .degree { color: #333; }
}

@media (max-width: 600px) {
    .bar {
        margin: 0 0 0px;
        background-color: #eee;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
        position: relative;
        z-index: 10;
        font-family: 'Montserrat', arial, sans-serif;
        top: 20px;

    }
    .temp { background-image: url('http://www.hdwallpapersinn.com/wp-content/uploads/2014/08/wonderful-wallpapers-91.jpg'); }

}
